<div class="container ">
    <div class="header" >
        <div class="row"  >
            <div class="col-sm-8">
                <div class="box_for_button_create">
                    <!--<button class="create_user" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>-->
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box_sign_out">
                    <a href="#" ng-click="logout()">Sign out</a>
                </div>
                <!--<div class="box_for_button_create">
                    <button class="create_user" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>-->
            </div>
            <div class="col-sm-2">
                <div class="box_for_profile">
                    <button class="look_profile_self" type="button" ng-click="nothing()">
                        <span class="glyphicon glyphicon-user icon"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class ="middle_add">
        <div class="row">
            <div class="col-sm-8">
                <h4> Users</h4>
            </div>
        </div>
    </div>
    <div class="box_add">
        <div class="row add_table" >
            <div class="col-sm-4">
                <table class="table user_table_3_columns">
                    <thead class="add_thead">
                        <tr class="heading_of_table" >
                            <td class="user_foto">

                            </td>
                            <td class="dropdown user_name">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #000000" >Name
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" ng-click="sortBy('lastname')">
                                        <span class="sortorder" ng-show="propertyName === 'lastname'" ng-class="{reverse: reverse}"></span>
                                        Lastname
                                    </a>
                                    </li>
                                    <li><a href="#" ng-click="sortBy('firstname')">
                                        <span class="sortorder" ng-show="propertyName === 'firstname'" ng-class="{reverse: reverse}"></span>
                                        Firstname
                                    </a>
                                    </li>
                                </ul>
                            </td>
                            <td class="user_domain">Domain</td>
                        </tr>
                    </thead>
                    <tbody class ="add_tbody">
                        <tr class="active body_of_table" ng-repeat="user in users | orderBy:propertyName:reverse">
                            <td class="user_foto">
                                <div class="box_for_profile">
                                    <button class="look_profile" type="button">
                                        <span class="glyphicon glyphicon-user icon"></span>
                                    </button>
                                </div></td>
                            <td class="user_name">{{ user.firstname + " " + user.lastname }}</td>
                            <td class="user_domain">{{ user.domain }}</td>
                        </tr>
                    </tbody>
                </table>

                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>

            </div>
        </div>
        <div class="add_container">
            <div class="form_add">

                <div class = "add_close">
                    <button class="close" type="button" data-dismiss="modal" ng-click="cancel()">×</button>
                </div>
                <div class="row add_head">
                    <h3>Add new user</h3>
                </div>
                <div class="row add_head">
                    <h5>All fields marked bold must be completed.</h5>
                </div>


                <form name="file_form" novalidate>
                    <input type="file" ngf-select ng-model="picFile" name="file"
                           accept="image/*" ngf-max-size="2MB" required
                           ngf-model-invalid="errorFile" ngf-multiple="true">
                    <i ng-show="file_form.file.$error.required">*required</i><br>
                    <i ng-show="file_form.file.$error.maxSize">File too large
                        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                    <p ng-repeat="file in picFile">
                        <img ng-show="file_form.file.$valid" ngf-thumbnail="file" class="thumb"> <button ng-click="delUplPhoto($index)" ng-show="file">Remove</button>
                    </p>
                </form>

                <form name="add_form" novalidate>
                    <div class="row add_assign">
                        <h6><a href="#">Assign to a domain</a></h6>
                    </div>
                    <div class="row add_text" ng-class="{ 'has-error' :( add_form.firstname.$invalid && !add_form.firstname.$pristine ) ||
                                                                             (add_form.lastname.$invalid && !add_form.lastname.$pristine)}">
                        <div class="add_firstname" >
                            <input name="firstname" type="text" class="add_firstname form-control input-lg text-center" placeholder=" Enter firstname" ng-model="formData.firstname" required>
                        </div>
                        <div  class="add_lastname ">
                            <input name="lastname" type="text" class="add_lastname form-control input-lg text-center" placeholder=" Enter lastname" ng-model="formData.lastname" required>
                        </div>
                    </div>
                    <p ng-show="( add_form.firstname.$invalid && !add_form.firstname.$pristine ) ||
                                (add_form.lastname.$invalid && !add_form.lastname.$pristine)" class="help-block" >Input your name and lastname.</p>
                    <div class="row add_text" ng-class="{ 'has-error' : add_form.email.$invalid && !add_form.email.$pristine }">
                        <div class=" add_email ">
                            <input name="email" type="email" class="add_email form-control input-lg text-center" placeholder=" Enter email" ng-model="formData.email" required>
                        </div>
                    </div>
                    <p ng-show=" add_form.email.$invalid && !add_form.email.$pristine" class="help-block">Doesn't look like a valid email.</p>
                    <div class="row add_text">
                        <div class=" add_nick ">
                            <input type="text" class="add_nick form-control input-lg text-center" placeholder="Enter username" ng-model="formData.nickname">
                        </div>
                    </div>
                    <div class="row add_text">
                        <div class=" add_password ">
                            <input name="password" type="password" class="add_password form-control input-lg text-center" placeholder="Enter password" ng-model="formData.password" required>
                        </div>
                    </div>
                    <p ng-show=" add_form.password.$invalid && !add_form.password.$pristine " class="help-block" >Input your password.</p>
                    <div class="row add_auto_pass">
                        <h6><a href="#">Auto generate password</a></h6>
                    </div>
                    <div class="add_space">
                    </div>
                    <div class="add_footer">
                        <input type="submit" class="canc_user_btn" value="CANCEL" ng-click="cancel()">
                        <input type="submit" class="add_user_btn" value="ADD USER" ng-disabled="add_form.$invalid" ng-click="create(picFile)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>