<div class="container ">
    <div class="header" >
        <div class="row"  >
            <div class="col-sm-8">
                <div class="box_for_button_create">
                    <!--<button class="create_user" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>-->
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box_sign_out">
                    <a href="#" ng-click="logout()">Sign out</a>
                </div>
                <!--<div class="box_for_button_create">
                    <button class="create_user" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>-->
            </div>
            <div class="col-sm-2">
                <div class="box_for_profile">
                    <button class="look_profile_self" type="button" ng-click="nothing()">
                        <span class="glyphicon glyphicon-user icon"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class ="middle_add">
        <div class="row">
            <div class="col-sm-8">
                <h4> Users  >  {{name}}</h4>
            </div>
        </div>
    </div>
    <div class="box_add">
        <div class="row add_table" >
            <div class="col-sm-4">
                <table class="table user_table_3_columns table-hover">
                    <thead class="add_thead">
                    <tr class="heading_of_table" >
                        <td class="user_foto">

                        </td>
                        <td class="dropdown user_name">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #000000" >Name
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="sortBy('lastname')">
                                    <span class="sortorder" ng-show="propertyName === 'lastname'" ng-class="{reverse: reverse}"></span>
                                    Lastname
                                </a>
                                </li>
                                <li><a href="#" ng-click="sortBy('firstname')">
                                    <span class="sortorder" ng-show="propertyName === 'firstname'" ng-class="{reverse: reverse}"></span>
                                    Firstname
                                </a>
                                </li>
                            </ul>
                        </td>
                        <td class="user_domain">Domain</td>
                    </tr>
                    </thead>
                    <tbody class ="add_tbody">
                    <tr class="active body_of_table" ng-repeat="user in users | orderBy:propertyName:reverse">
                        <td class="user_foto">
                            <div class="box_for_profile">
                                <img  ng-src="{{user.avatar}}" class="avatar" >
                            </div>
                        </td>
                        <td class="user_name">{{ user.firstname + " " + user.lastname }}</td>
                        <td class="user_domain">{{ user.domain }}</td>
                    </tr>
                    </tbody>
                </table>

                <p class="text-center" ng-show="loading">
                    <span class="fa fa-spinner fa-spin fa-3x"></span>
                </p>

            </div>
        </div>
        <div class="add_container">
            <div class="form_add">

                    <div class = "add_close">
                        <button class="close" type="button" data-dismiss="modal" ng-click="cancel()">×</button>
                    </div>
                    <div class="row add_head">
                        <h3>Update {{name}}</h3>
                    </div>
                    <div class="row add_head">
                        <h5>All fields marked bold must be completed.</h5>
                    </div>

            <!--форма для добавления файлов-->
                <form name="file_form"  novalidate>
                    <div class="file-upload">
                        <label>
                                <input href = "" type="file" ngf-select ng-model="picFile" name="file"
                                   accept="image/*" ngf-max-size="2MB" required
                                   ngf-model-invalid="errorFile" ngf-multiple="true" ng-click="onUpload()">
                                <span class="glyphicon glyphicon-plus"></span>
                        </label>
                    </div>
                    <i ng-show="file_form.file.$error.maxSize">File too large
                        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                    <ul  class="list-inline ">
                        <li ng-repeat="file in picFile" >
                            <a href="#myGallery" data-slide-to="{{$index + 1}}">
                                <img data-toggle="modal" data-target="#myModal"  ngf-thumbnail="file" class="thumb img-thumbnail" >
                            </a>
                            <input type="button" class="close remove_btn"  ng-click="delUplPhoto($index)" ng-show="file" value = "x">
                        </li>
                    </ul>
                </form>

                <!--загруженные ранее фотки, галерея по нажатию-->
                <!--<ul  class="list-inline">
                    <li ng-repeat="photo in fotoUrl"  >

                        <a href="#myGallery" data-slide-to="{{$index  + picFile.length + 1}}">
                            <img data-toggle="modal" data-target="#myModal" ng-src="{{photo}}" class="thumb img-thumbnail" >
                        </a>
                        <input type="button" class="close remove_btn"  ng-click="deletePhoto(photo,$index)" value = "x">
                        <input type="button" class="close remove_btn"  ng-click="setAvatar(photo)" value = "ok">

                    </li>
                </ul>-->


                <!--загруженные ранее фотки, меню по нажатию-->
                <ul  class="list-inline">
                    <li ng-repeat="photo in fotoUrl" class="dropdown" >

                        <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-label="Left Align">
                            <img  ng-src="{{photo}}" class="thumb img-thumbnail" >
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="setAvatar(photo)">on avatar</a></li>
                            <li><a href="" ng-click="deletePhoto(photo,$index)">Delete photo</a></li>
                            <li><a href="#myGallery" data-slide-to="{{$index  + picFile.length + 1}}">
                                    <p data-toggle="modal" data-target="#myModal">Gallery</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>



                <form name="add_form" novalidate>

                    <div class="row add_assign">
                        <h6><a href="" data-toggle="modal" data-target="#myModalDomain">Assign to a domain</a></h6>
                    </div>
                    <div class="row add_text" ng-class="{ 'has-error' :( add_form.firstname.$invalid && !add_form.firstname.$pristine ) ||
                                                                             (add_form.lastname.$invalid && !add_form.lastname.$pristine)}">
                        <div class="add_firstname" >
                            <input name="firstname" type="text" class="add_firstname form-control input-lg text-center" placeholder=" Enter firstname" ng-model="formData.firstname" required>
                        </div>
                        <div  class="add_lastname ">
                            <input name="lastname" type="text" class="add_lastname form-control input-lg text-center" placeholder=" Enter lastname" ng-model="formData.lastname" required>
                        </div>
                    </div>
                    <p ng-show="( add_form.firstname.$invalid && !add_form.firstname.$pristine ) ||
                                (add_form.lastname.$invalid && !add_form.lastname.$pristine)" class="help-block" >Input your name and lastname.</p>
                    <div class="row add_text" ng-class="{ 'has-error' : add_form.email.$invalid && !add_form.email.$pristine }">
                        <div class=" add_email ">
                            <input name="email" type="email" class="add_email form-control input-lg text-center" placeholder=" Enter email" ng-model="formData.email" required>
                        </div>
                    </div>
                    <p ng-show=" add_form.email.$invalid && !add_form.email.$pristine" class="help-block">Doesn't look like a valid email.</p>
                    <div class="row add_text">
                        <div class=" add_nick ">
                            <input type="text" class="add_nick form-control input-lg text-center" placeholder="Enter username" ng-model="formData.username">
                        </div>
                    </div>
                    <div class="row add_text">
                        <div class=" add_password ">
                            <input name="password" type="password" class="add_password form-control input-lg text-center" placeholder="Enter password" ng-model="formData.password" required>
                        </div>
                    </div>
                    <p ng-show=" add_form.password.$invalid && !add_form.password.$pristine " class="help-block" >Input your password.</p>
                    <div class="row add_auto_pass">
                        <h6><a href="#">Auto generate password</a></h6>
                    </div>
                    <div class="add_space">
                    </div>
                    <div class="add_footer">
                        <input type="submit" class="canc_user_btn" value="CANCEL" ng-click="cancel()">
                        <input type="submit" class="update_user_btn" value="UPDATE" ng-disabled="add_form.$invalid" ng-click="update(picFile)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--begin modal window-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-left">My Gallery </div>
                <button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
            </div>
            <div class="modal-body">

                <!--CAROUSEL CODE GOES HERE-->

                <!--begin carousel-->
                <div id="myGallery" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="carousel-caption">
                                <h3>nothing</h3>
                                <p>nothing</p>
                            </div>
                        </div>
                        <div class="item" ng-repeat="file in picFile" ng-show="file_form.file.$valid">
                            <img ng-show="file_form.file.$valid" ngf-thumbnail="file" alt="item{{$index + 1}}">
                            <div class="carousel-caption">
                                <!--<h3>Heading {{$index}}</h3>-->
                                <!--<p>Slide {{$index}} description.</p>-->
                                <p>{{$index+1}}</p>
                            </div>
                        </div>
                        <div class="item" ng-repeat="photo in fotoUrl">
                            <img ng-src="{{photo}}" alt="item{{$index  + picFile.length + 1}}">
                            <div class="carousel-caption">
                                <!--<h3>Heading {{$index}}</h3>-->
                                <!--<p>Slide {{$index}} description.</p>-->
                                <p>{{$index  + picFile.length + 1}}</p>
                            </div>
                        </div>





                        <!--end carousel-inner--></div>
                    <!--Begin Previous and Next buttons-->
                    <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myGallery" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>

            </div>
            <div class="modal-footer">
                <!--<div class="pull-left">
                    <small>Photographs by <a href="https://placeimg.com" target="new">placeimg.com</a></small>
                </div>-->
                <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- data-toggle="modal" data-target="#myModalDomain"   - дописать к ссылке для вызова модального окна-->
<div id="myModalDomain" class="modal fade fade_assign" name="myModalDomain" >
    <div class="modal-dialog">
        <div class="modal-content">
            <!--<div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
            </div>-->
            <div class="modal-body modal_assign">
                <div class="row">
                    <button class="close close_reset" type="button" data-dismiss="modal">×</button>
                </div>
                <form name="domain_form" novalidate>
                    <div class="row">
                        <div class="assign-domain col-sm-6 inner-addon right-addon">
                            <i class="assign-domain-icon glyphicon glyphicon-triangle-bottom top-icon"></i>
                            <i class="assign-domain-icon glyphicon glyphicon-triangle-top bottom-icon"></i>
                            <input name = "domain" type="text" required domain class=" assign-domain form-control input-lg text-center" placeholder="Choose a domain" ng-model="domain" required>
                        </div>
                    </div>
                    <div  class="row edit_help">
                        <div class="col-sm-10" ng-show=" domain_form.domain.$invalid ">
                                    not valid.
                        </div>
                    </div>
                    <div class="row">
                        <div class="assign-role col-sm-6 inner-addon right-addon">
                            <i class="assign-domain-icon glyphicon glyphicon-triangle-bottom top-icon"></i>
                            <i class="assign-domain-icon glyphicon glyphicon-triangle-top bottom-icon"></i>
                            <input name = "role" type="text" class=" assign-role form-control input-lg text-center"
                                   placeholder="Choose a role" ng-model="role" >
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="modal_com">
                            <input type="submit" class="canc_user_btn" value="CANCEL" data-dismiss="modal">
                            <input type="submit" class="update_user_btn" value="ASSIGN" data-dismiss="modal" ng-disabled=" domain_form.$invalid "  ng-click="applyDomain(domain,role)">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>