<!--FORM TO send email to email-->


<div class="body_forgot">
    <div class="top_forgot animate-show-hide" ng-show="top == true">
        <p>if the email you specified exist in our  system, we'll send a password reset link to it</p>
    </div>
    <div class="form_forgot">
        <div class="row  forg_img">
            <div class = "col-sm-6 forg_img">
                <img src="static/img/Forgot_password.png">
            </div>
        </div>
        <div class = "row forgot">
            <div class="col-sm-6 forgot">
                Forgot your password?
            </div>
        </div>
        <div class = "row forgot">
            <div class="col-sm-6 forgot">
                well send you an with a link to reset your password.
            </div>
        </div>
        <div class="row forgot">
            <div class="col-sm-6 forgot">
                <!-- BIND THIS VALUE TO formData IN ANGULAR -->
                <input type="email" class="input-lg text-center email" placeholder="email" ng-model="formData.email">

                <!-- send() WILL SEND EMAIL -->
                <a href="#" ng-click="sendPassword()">SUBMIT</a>
                <!--<button type="submit" class="btn btn-primary btn-lg" ng-click="sendPassword()">Add</button>-->

            </div>
        </div>
    </div>
</div>