<!--FORM TO send email to email-->
<!--<div class="row">
    <div class="col-sm-6 text-center">

        &lt;!&ndash; BIND THIS VALUE TO formData IN ANGULAR &ndash;&gt;
        <input type="password" class="form-control input-lg text-center" placeholder="password" ng-model="formData.password">
        <input type="password" class="form-control input-lg text-center" placeholder="confirm password" ng-model="formData.confirmPass">
        &lt;!&ndash; send() WILL SEND EMAIL &ndash;&gt;
        <button type="submit" class="btn btn-primary btn-lg" ng-click="confirm()">confirm</button>


    </div>
</div>-->
<div class="body_forgot">
    <div class="form_forgot">
        <div class="row  forgot">
            <div class = "col-sm-6 forgot">
                <input type="password" class="form-control input-lg text-center" placeholder="password" ng-model="formData.password">
            </div>
        </div>
        <div class = "row">
            <div class="col-sm-6 ">
                <input type="password" class="form-control input-lg text-center" placeholder="confirm password" ng-model="formData.confirmPass">
            </div>
        </div>
        <div class = "row">
            <div class="col-sm-6 ">
                <button type="submit" class="btn btn-primary btn-lg new_pass_btn" ng-click="confirm()">confirm</button>
            </div>
        </div>
    </div>
</div>