<!--FORM TO CREATE USERS-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form name = "reg_form" novalidate>
            <!-- BIND THIS VALUE TO formData IN ANGULAR -->
            <input type="text" class="form-control input-lg text-center" placeholder="firstname" ng-model="formData.firstname">
            <input type="text" class="form-control input-lg text-center" placeholder="lastname" ng-model="formData.lastname">
            <input type="text" class="form-control input-lg text-center" placeholder="foto" ng-model="formData.foto">
            <!--<input type="text" class="form-control input-lg text-center" placeholder="role" ng-model="formData.role">-->
            <input type="email" class="form-control input-lg text-center" placeholder="email" ng-model="formData.email">
            <input type="password" class="form-control input-lg text-center" placeholder="password" ng-model="formData.password">
            <input type="password" class="form-control input-lg text-center" placeholder="repeat password" ng-model="password">



            <!-- create() WILL CREATE NEW USERS -->
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="req_form.$invalid" ng-click="register()">Add</button>
        </form>

    </div>
</div>
