<div class="container" >

    <div class="header" >
        <div class="row"  >
            <div class="col-sm-8">
                <div class="box_for_button_create">
                    <button class="create_user" type="button" ng-click="addNew()" ng-show="currentUser.role !='user' && currentUser.role !=null">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="box_sign_out">
                    <a href="#" ng-click="logout()">Sign out</a>
                </div>
                <!--<div class="box_for_button_create">
                    <button class="create_user" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>-->
            </div>
            <div class="col-sm-2">
                <div class="box_for_profile">
                    <button class="look_profile_self" type="button" ng-click="nothing()">
                        <span class="glyphicon glyphicon-user icon"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <!-- USER LIST -->
    <div class="row" >
        <div class="col-sm-4">
            <table class="table user_table table-hover">
                <thead>
                    <tr class="heading_of_table" >
                        <td class="user_foto">

                        </td>
                        <td class="dropdown user_name">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #000000" >Name
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="sortBy('lastname')">
                                        <span class="sortorder" ng-show="propertyName === 'lastname'" ng-class="{reverse: reverse}"></span>
                                        Lastname
                                    </a>
                                </li>
                                <li><a href="#" ng-click="sortBy('firstname')">
                                        <span class="sortorder" ng-show="propertyName === 'firstname'" ng-class="{reverse: reverse}"></span>
                                        Firstname
                                    </a>
                                </li>
                            </ul>
                        </td>
                        <td class="user_domain">Domain</td>
                        <td class="user_last_log">Last signed in</td>
                        <td class="user_menu"> </td>
                    </tr>
                </thead>
                <tr class="active body_of_table" ng-repeat="user in users | orderBy:propertyName:reverse">
                     <td class="user_foto">
                         <div class="box_for_profile">
                             <img  ng-src="{{user.avatar}}" class="avatar" >
                         </div>
                     </td>
                     <td class="user_name">{{ user.firstname + " " + user.lastname }}</td>
                     <td class="user_domain">{{ user.domain }}</td>
                     <td class="user_last_log">{{ user.log_time }}</td>
                     <td class="dropdown user_menu">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-label="Left Align" ng-show="(currentUser.role =='admin') || (currentUser.role =='moderator' && currentUser.id == user.id ) ">
                                 <span class="glyphicon glyphicon-option-vertical" aria-hidden="true" style="color: #000000"></span>
                             </a>
                             <ul class="dropdown-menu" role="menu">
                                 <li><a href="#" data-toggle="modal" data-target="#myModal" ng-click="getById(user.id)">Reset password</a></li>
                                 <li><a href="#" ng-click="getByIdForEdit(user.id)">Update user</a></li>
                                 <li><a href="#" data-toggle="modal" data-target="#myModaldel" ng-click="getById(user.id)">Delete User new</a></li>
                             </ul>
                     </td>
                </tr>
            </table>

            <p class="text-center" ng-show="loading">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </p>

        </div>
    </div>

</div>

<!-- data-toggle="modal" data-target="#myModal"   - дописать к ссылке для вызова модального окна-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--<div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
            </div>-->
            <div class="modal-body modal_reset">
                <div class="row">
                    <button class="close close_reset" type="button" data-dismiss="modal">×</button>
                </div>

                <div class="row head_update">
                    <div class="password">
                        <h4> Reset password for  {{formData.firstname + " " + formData.lastname}}</h4>
                    </div>
                </div>
                <form name="reset_form" novalidate>
                    <div class="row">
                        <div class="password">
                            <input type="password" class="password form-control input-lg text-center" placeholder="password" ng-model="formData.password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="password">
                            <input name = "confirm" type="password" class="password form-control input-lg text-center"
                                    placeholder="confirm password" ng-model="passwordConfirm" required password-confirm match-target="formData.password">
                        </div>
                    </div>
                    <div class="reset_space">
                        <span class="help-block" ng-show="reset_form.confirm.$error.match">confirm password.</span>
                    </div>
                    <div class="row">
                        <div class="modal_com">
                            <input type="submit" class="canc_user_btn" value="CANCEL" data-dismiss="modal">
                            <input type="submit" class="update_user_btn" ng-disabled="reset_form.$invalid" value="RESET" data-dismiss="modal" ng-click="resetPassword()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- data-toggle="modal" data-target="#myModal"   - дописать к ссылке для вызова модального окна-->
<div id="myModaldel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--<div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
            </div>-->
            <div class="modal-body modal_del">
                <div class="row">
                    <button class="close close_reset" type="button" data-dismiss="modal">×</button>
                </div>

                <div class="row head_update">
                    <div class=" col-sm-7 password">
                        <h5> Are you sure you want to delete to  {{formData.firstname + " " + formData.lastname}}</h5>
                    </div>
                </div>
                <br>
                <br>
                <form name="reset_form" novalidate>

                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" class="canc_user_btn" value="CANCEL" data-dismiss="modal">
                        </div>
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" class="update_user_btn" ng-disabled="reset_form.$invalid" value="DELETE" data-dismiss="modal" ng-click="deleteUser(formData.id)">
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>