.wrap {
    width: 750px;
    margin: 0 auto;
}
header {
    background: green;
}
.content, aside{
    height: 0 auto;
}

.content {
    float: left;
    background: grey;
    width: 80%;
}

aside {
    float: left;
    background: red;
    width: 20%;
}

footer {
    background: blue;
    clear: both;
}
