
.body_auth {
    height: 3000px;
    font-family: Arial;
    background-color: #ffa514;
    padding: 50px;
}

input {
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #FFFFFF;
    box-shadow: none;
}

.img{
    text-align: center;
    width: 250px;
    height: 136px;
}
.auth_form{
    width: 250px;
    height: 31px;
    text-align: center;
}
.input {
    border-width: 2px;
    border-radius: 0px;
    border-color: #000000;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    width: 5em;

}

.text_login {
    width: 250px;
    height: 50px;
    vertical-align: middle;
    background: #000000;
    color: #FFFFFF;
}
.btn {
    background: #000000;
    border-radius: 0px;
    width: 70px;
    color: #FFFFFF;

}

.button_log {
    height: 50px;
    width: 250px;
    text-align: center;
    margin-top: 60px;
}
.signup{
    height: 50px;
    width: 250px;
    text-align: center;
    margin-top: 40px;
}
.for_forgot {
    width: 250px;
    height: 100px;
    color: black;
    text-align: center;
    vertical-align: bottom;
}


/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 15px;
    pointer-events: none;
}

/* align icon */
.left-addon .icon_auth  { left:  0px;}
.right-addon .icon_auth { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.header {
    height: 40px;
    width:  750px;
    background: #f0f0f0;
}
.box_for_button_create{
    height: 40px;
    width: 40px;
    text-align: center;
    border-right: 2px solid #cfcfcf;
    /*outline: 2px solid #cfcfcf;*/
}

.box_sign_out {
    text-align: center;
    vertical-align: middle;
    margin-top: 9px;

}
.create_user {
    background: #4185f2;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    border-width: 0px;
    color: #FFFFFF;
    font-size: large;
    margin-top: 5px;
    text-align: center;
}
.box_for_profile{
    position: relative;
    margin-left: 30px;
}
.look_profile_self{
    background: #f0f0f0;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    border: 2px solid #757575;
    margin-top: 5px;
    text-align: center;
    color: #757575;
}
.look_profile{
    background: #f0f0f0;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    /*border: 2px solid #757575;*/
    border: 0px;
    margin-top: 5px;
    text-align: center;
    color: #757575;
}
.table>tbody>tr.active>td{
    background-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.table>tfoot>tr.active>td{
    border-top-color: #000000;
}
.table>thead{
    border-bottom:2px solid #f0f0f0;
}
/*.add_thead {
    border-right:2px solid #f0f0f0;
}*/

.user_table {
    width: 600px;
    margin-left: 15px;
    background-color: #FFFFFF;
}
.user_table_3_columns {
     width: 400px;
     /*margin-left: 15px;*/
     background-color: #FFFFFF;
 }
td.user_foto {
    width: 40px;
}
.user_name {
    width: 190px;
    vertical-align: middle;
}
.user_domain {
    width: 130px;
}
.user_last_log {
    width: 170px;
}
.user_menu{
    width: 30px;
}
.body_of_table >td{
    border: 0px solid;
}
.heading_of_table{
    /*background-color: #FFFFFF;
    border: 0px;*/
    border-color: green;
}
/* стили для формы обновления пользователя

 */
.modal {
    /*background: #FFFFFF;*/
    /*visibility: visible;*/ /* Делает видимым */
   /* opacity: 1;  */  /* Фон становится полностью прозрачным */
    /*background: rgba(0, 0, 0, 0);*/
    /*z-index: auto;*/
}
.fade {
    position: fixed;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 350px;
     /*background: #FFFFFF;*/
     /*visibility: visible;*/ /* Делает видимым */
      opacity: 1;    /* Фон становится полностью прозрачным */
     background: rgba(0, 0, 0, 0.0001);
 }
.modal-dialog {


}
.modal-content{
    border-radius: 0px;
    width: 350px;
}
.modal-body {
    width: 320px;
    height:500px;
    border-radius: 0px;
}
.form-control {
    border-radius: 0px;
}

div.domain{
    margin-left: 10px;
    float:left;
    width: 150px;
    height:50px;
}
div.role{
    margin-left: 10px;
    float:left;
    width: 150px;
    height:50px;
}
div.firstname {
    margin-left: 10px;
    float:left;
    width: 150px;
    height:50px;
}
div.lastname {
    margin-left: 10px;
    float:left;
    width: 150px;
    height:50px;
}
div.email {
    margin-left: 10px;
    width: 310px;
    height:50px;
}
div.password {
    margin-left: 10px;
    width: 310px;
    height:50px;
}
.modal_com{
    text-align: right;
    width: 310px;
    height:50px;
}

.body_forgot{
    height: 3000px;
    /*width: 600px;*/
    background-color: #f0f0f0;
}
.form_forgot{
    margin-left: 300px;
    text-align: center;
}
.forgot {
    height:50px;
    text-align: center;
    vertical-align: middle;
}
.forg_img {
    height:100px;
    text-align: center;
    vertical-align: middle;
}
.email {
    width: 300px;
    border: 1px solid #3c3c3c;
    border-radius: 0px;
}
.forgot >a {
     margin-left: 30px;
 }
.top_forgot {
    background-color: #33cc00;
    height: 30px;
}
.top_forgot >p{
    text-align: center;
    color: #FFFFFF;
}
.new_pass_btn{
    width: 90px;
}
.animate-show-hide{
    /*animation:0.5s lightSpeedOut ease;*/
    animation:0.5s flipInX ease;
}
/* light speed out */
@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}

@keyframes lightSpeedOut {
    0% {
        opacity: 1;
    }

    100% {
        transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        transform: translate3d(100%, 0, 0) skewX(30deg);
        opacity: 0;
    }
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        transform: perspective(400px);
        transform: perspective(400px);
        transform: perspective(400px);
    }
}

.middle_add {
    height: 40px;
    width:  750px;
    background: #ffffff;
    border-bottom: 2px solid #d6d6d6;
}

.middle_add >.row> .col-sm-8 {
    margin-left: 30px;

}
.ots {
    height: 100px;
}
.add_table{
    width: 430px;
    float: left;
}
.form_add {

    text-align: left;
    margin-left: 30px;

}
.help-block {

     color: #761c19;

 }
.box_add {
    width: 750px;
    display:inline-block;
    overflow:hidden;


}
.add_container{
    height: 600px;
    width: 330px;
    border-left:2px solid #f0f0f0;
    float: left;

}
.add_close {
    height: 25px;
}

.add_head{
    height: 50px;
}
.add_text {
    height: 40px;
    width: 326px;
}
.form-group{
    height: 35px;
}
.add_assign {
    text-align: right;
    color: #00aeed;
    text-decoration: underline;
}
.add_firstname{
    float: left;
    width: 160px;
    height: 35px;
}
.add_firstname::-webkit-input-placeholder {
    font-weight: bold;
    font-size: medium;
}
.add_lastname{
    float: left;
    width: 160px;
    height: 35px;
    margin-left: 3px;
}
.add_lastname::-webkit-input-placeholder {
    font-weight: bold;
    font-size: medium;
}
.add_email{
    float: left;
    width: 326px;
    height: 35px;
}
.add_email::-webkit-input-placeholder {
    font-weight: bold;
    font-size: medium;
}
.add_nick{
    float: left;
    width: 326px;
    height: 35px;
}
.add_nick::-webkit-input-placeholder {
    /*font-weight: bold;*/
    font-size: medium;
}
.add_password{
    float: left;
    width: 326px;
    height: 35px;
}
.add_password::-webkit-input-placeholder {
    font-weight: bold;
    font-size: medium;
}
.add_auto_pass {
    text-align: right;
    color: #00aeed;
    text-decoration: underline;
}
.add_footer{
    text-align: right;
    height: 300px;

}
.add_space{
    height: 50px;
}
.add_cancel{
    margin-right: 30px;
}
.add_alert{
    height: 20px;
    color: #761c19;
}
.add_user_btn{
    width: 100px;
    border:none;
    padding:0;
    margin:0;
    font-size:15px;
    color:#00aeed;
    background-color:transparent;
}
.update_user_btn{
    width: 80px;
    border:none;
    padding:0;
    margin:0;
    font-size:15px;
    color:#00aeed;
    background-color:transparent;
}
.canc_user_btn{
    width: 60px;
    border:none;
    padding:0;
    margin:0;
    font-size:15px;
    /*color:#00aeed;*/
    background-color:transparent;
}