.ng_view{
    height: 100%;
}
.body_auth {
    height: 100%;
    font-family: Arial;
    background-color: #ffa514;
    padding: 50px;
}

input {
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #FFFFFF;
    box-shadow: none;
}

.img{
    text-align: center;
    width: 250px;
    height: 136px;
}
.auth_form{
    width: 250px;
    height: 31px;
    text-align: center;
}
.input {
    border-width: 2px;
    border-radius: 0px;
    border-color: #000000;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    width: 5em;

}

.text_login {
    width: 250px;
    height: 50px;
    vertical-align: middle;
    background: #000000;
    color: #FFFFFF;
}
.btn {
    background: #000000;
    border-radius: 0px;
    width: 70px;
    color: #FFFFFF;

}

.button_log {
    height: 120px;
    width: 250px;
    text-align: center;
    margin-top: 60px;
}
.for_forgot {
    width: 250px;
    height: 100px;
    color: black;
    text-align: center;
    vertical-align: bottom;
}


/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 15px;
    pointer-events: none;
}

/* align icon */
.left-addon .icon_auth  { left:  0px;}
.right-addon .icon_auth { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.header {
    height: 40px;
    width:  650px;
    background: #f0f0f0;
}
.box_for_button_create{
    height: 40px;
    width: 40px;
    text-align: center;
    border-right: 2px solid #cfcfcf;
    /*outline: 2px solid #cfcfcf;*/
}
.create_user {
    background: #4185f2;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    border-width: 0px;
    color: #FFFFFF;
    font-size: large;
    margin-top: 5px;
    text-align: center;
}
.box_for_profile{
    position: relative;
    margin-left: 30px;
}
.look_profile_self{
    background: #f0f0f0;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    border: 2px solid #757575;
    margin-top: 5px;
    text-align: center;
    color: #757575;
}
.look_profile{
    background: #f0f0f0;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    /*border: 2px solid #757575;*/
    border: 0px;
    margin-top: 5px;
    text-align: center;
    color: #757575;
}
.user_table {
    width: 600px;
    margin-left: 15px;
}
.user_foto {
    background-color: #FFFFFF;
    width: 40px;

}
.user_name {
    background-color: #FFFFFF;
    width: 190px;
}
.user_domain {
    width: 170px;
}
.user_last_log {
    width: 170px;
}
.user_menu{
    width: 30px;
}
.body_of_table >td{
    background-color: #FFFFFF;
    border: 0px solid;
}
.heading_of_table{
    /*background-color: #FFFFFF;
    border: 0px;*/
}